body {
  background-color: white;
  font-size: x-small;
}

.movieCardContainer {
  text-align: center;
}

.movieCard {
  display: flex;
  justify-content: space-around;
}

.movieCard img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 12px;
}

.card1,
.card2,
.card3 {
  color: white;
  border: solid grey 1px;
}

h2 {
  margin: 0;
  padding: 6px;
  background-color: black;
}

p {
  margin: 0;
  padding: 10px;
  background-color: grey;
}

.card2 p {
  background-color: green;
}

.card3 p {
  background-color: rgb(159, 159, 48);
}
