body{
  background-color: gray;
  color: white;
}

.movieCardContainer {
  text-align: center;
}

.movieCardWrapper {
  display: flex;
  justify-content: space-around;
}

.movieCardWrapper img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 12px;
}

.card{
  background-color:white;
  
}

h2  {
  margin: 0;
  background-color: black;
}

p{
  margin: 0;
  padding: 10px;
  background-color:red;
}